form {
    text-align: center;
    margin-top: 2em;
    
    input {
        margin-top: 1em;
        font-size: 20px;
        padding: 0.5em;
    }
}

p {
    text-align: center;
    margin-top: 2em;
    a {
        font-size: 20px;
        padding: 0.5em;
        text-decoration: none;
    }
}